anyio==4.12.1
blinker==1.9.0
cssmin==0.2.0
docutils==0.22.4
dotenv==0.9.9
feedgenerator==2.2.1
idna==3.11
Jinja2==3.1.6
jsmin==3.0.1
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
minify_html==0.18.1
ordered-set==4.1.0
pelican==4.11.0.post0
Pygments==2.18.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
rich==14.3.3
six==1.17.0
Unidecode==1.4.0
watchfiles==1.1.1
