{% extends "base.html" %} {% block title %} {% if page %}{{ page.title }} - {%
endif %}{{ SITENAME }} {% endblock %} {% block extra_head %}
<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
{% endblock %} {% block content %} {% if page %} {% if page.show_header is not
defined or page.show_header|string|lower != "false" %}
<div class="page-header">
  <div class="container">
    <h1>{{ page.title }}</h1>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="page-content">{{ page.content }}</div>
</div>

<script>
  var lat = -27.02635661799897;
  var lng = -51.14445241614298;
  var map = L.map("map").setView([lat, lng], 19);
  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    maxZoom: 19,
    attribution:
      '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
  }).addTo(map);
  var marker = L.marker([lat, lng]).addTo(map);
  marker
    .bindPopup(
      '<b>Nossa Localização</b><br><a href="https://www.google.com/maps/dir/?api=1&destination=' +
        lat +
        "," +
        lng +
        '" target="_blank">Como Chegar</a>'
    )
    .openPopup();
</script>
{% else %}
<div class="container">
  <div class="page-content">
    <h1>Conteúdo não encontrado</h1>
    <p>O conteúdo solicitado não está disponível.</p>
  </div>
</div>
{% endif %} {% endblock %}
